@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0C1B1E;
  color: #fbffff;
  font-family: 'Helvetica Now Display', 'Outfit', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #143639;
}
::-webkit-scrollbar-thumb {
  background: #295c60;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #348385;
}
